{% extends 'blog/base.html' %}
 {% block title %} {{post.title}} 
 {% endblock title %}
 
 {% block content %}

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      {% comment %} TODO author Url {% endcomment %}
      <a class="mr-2" href="#">{{ post.author }}</a>
      <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
    </div>
    <h2>{{ post.title }}</h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>

{% endblock content %}
